<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
    <img src="assets/img/icono_smaq_verde.png" id="icono">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">PRINCIPAL</a>
            </li>
            <!--
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/estacion">LISTA DE ESTACIONES</a>
            </li>-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/reportes">REPORTES</a>
            </li>
            <!--
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/crearEstacion">CREAR ESTACIONES</a>
            </li>-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/educate">EDUCATE</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/mapa">MAPA</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/justificacion">ANTECEDENTES</a>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">CALIDAD DEL AIRE</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/mapa">MAPA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/reportes">REPORTES</a>
                </div>
            </li>
            -->
            
        </ul>
    </div>
</nav>
<br><br>