<main>
  <!-- <form [formGroup]="form" novalidate autocomplete="off" (keydown.enter)="$event.preventDefault()"> -->
  <form novalidate autocomplete="off" (keydown.enter)="$event.preventDefault()">

    <div style="text-align: center; height: 100%; margin-top: -30px;">
      <div class="h1">Administración</div>
      <input type=image src="../../assets/img/iconoAdministrador.png" class="btn" (click)="usuario()">
      <input type=image src="../../assets/img/iconoEstacion.png" class="btn" (click)="estacion()">
      <div class="espacio"></div>
    </div>

    <div class="espacio"></div>
    <div class="espacio"></div>
    <div class="espacio"></div>
  </form>
</main>