<a name="articulo1"></a>
<section>
    <img src="assets/img/hospital.jpg" class="img-fluid" id="img_principal" alt="Responsive image">
    <div class="row" style="width: 99%;">
        <div class="col-sm-9 content_centrar">
            <div class="card" id="contTexto">
                <div class="img-fluid" id="cont_titulo">
                    <h5 id="titulo">{{titEnf}}</h5>
                </div>
                <div class="texto">
                    <p>{{contEnf1}}</p>
                    <p style="font-style: italic;">{{contEnf2}}</p>
                    <p>{{contEnf3}}</p>
                    <p>{{contEnf4}}</p>
                    <p>{{contEnf5}}</p>
                    <ul>
                        <li>cardiopatía isquémica</li>
                        <li>accidente cerebrovascular</li>
                        <li>neumopatía obstructiva crónica</li>
                        <li>Infecciones respiratorias</li>
                        <li>cáncer de pulmón</li>
                        <li>infarto de miocardio</li>
                        <li>hipertensión</li>
                        <li>Daños en el desarrollo neuronal</li>
                    </ul>
                    <p>{{contEnf6}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="espacio"></div>
<a name="articulo2"></a>
<section>
    <img src="assets/img/trafico.jpg" class="img-fluid" id="img_principal" alt="Responsive image">
    <div class="row" style="width: 99%;">
        <div class="col-sm-9 content_centrar">
            <div class="card" id="contTexto">
                <div class="img-fluid" id="cont_titulo">
                    <h5 id="titulo">{{titCont}}</h5>
                </div>
                <div class="texto">
                    <p>{{contCont1}}</p>
                    <p>{{contCont2}}</p>
                    <p class="subtitulo">{{subCont1}}</p>
                    <p>{{contCont3}}</p>
                    <p class="subtitulo">{{subCont2}}</p>
                    <p>{{contCont4}}</p>
                    <p class="subtitulo">{{subCont3}}</p>
                    <p>{{contCont5}}</p>
                    <p class="subtitulo">{{subCont4}}</p>
                    <p>{{contCont6}}</p>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="espacio"></div>

<a name="articulo3"></a>
<section>

    <img src="assets/img/lago.jpeg" class="img-fluid" id="img_principal" alt="Responsive image">
    <div class="row" style="width: 99%;">
        <div class="col-sm-9 content_centrar">
            <div class="card" id="contTexto">
                <div class="img-fluid" id="cont_titulo">
                    <h5 id="titulo">{{titLey}}</h5>
                </div>
                <div class="texto">
                    <p>{{contLey1}}</p>
                    <p class="subtitulo">{{subLey1}}</p>
                    <a href="assets/acuerdosPdf/agenda_2030_y_los_objetivos_de_desarrollo_sostenible.pdf"
                        download="agenda_2030_y_los_objetivos_de_desarrollo_sostenible">
                        Descargar Archivo <img src="assets/img/pdf.png" alt="">
                    </a>
                    <p>{{contLey2}}</p>
                    <p class="subtitulo">{{subLey2}}</p>
                    <p>{{contLey3}}</p>
                    <a href="assets/acuerdosPdf/-Iniciativa_Latinoamericana_y_Caribeña_para_el_Desarrollo_Sostenible_Indicadores_de_segui.pdf"
                        download="Iniciativa_Latinoamericana_y_Caribeña_para_el_Desarrollo_Sostenible_Indicadores_de_segui.pdf">
                        Descargar Archivo <img src="assets/img/pdf.png" alt="">
                    </a>
                    <p class="subtitulo">{{subLey3}}</p>
                    <p>{{contLey4}}</p>
                    <a href="assets/acuerdosPdf/Instrumentos de divulgación de información ambiental de la Comisión Económica para América Latina y el Caribe – CEPAL.pdf"
                        download="Instrumentos de divulgación de información ambiental de la Comisión Económica para América Latina y el Caribe – CEPAL.pdf">
                        Descargar Archivo <img src="assets/img/pdf.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="espacio"></div>