<main>
  <div style="width: 100%;">
    <form #form="ngForm" (ngSubmit)="login(form)" novalidate autocomplete="off" (keydown.enter)="$event.preventDefault()">
      <div class="card bg-light mb-3" style="max-width: 18rem; text-align: center; margin: auto; ">
        <div class="card-body">
          <img src="../../assets/img/icono_smaq_verde.png" alt=""><br><br>
          <span *ngIf="form.submitted && form.controls['user'].errors" class="text-danger">El usuario es obligatorio</span>
          <input type="text" placeholder="Nombre Usuario" [(ngModel)]="user" name="user" required minlength="6"
            style="width: 100%;  margin-bottom: 15px">
            <span *ngIf="form.submitted && form.controls['password'].errors" class="text-danger">La contraseña es obligatoria</span>
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required minlength="6"
            style="width: 100%; margin-bottom: 10px;">
          <button style="margin-left: 30px; margin-top:0px ; width: 120px;" type="button" class="btn btn-success"
            type="submit">Entrar</button>
        </div>
        <!-- <button style="margin-left: 30px; margin-top:0px ; width: 120px;" type="button" class="btn btn-success"
            type="button" (click)="registro()">Crear Usuario</button> -->
      </div>
    </form>
  </div>
</main>