<!-- Footer -->
<footer
    class="page-footer font-small"
    style="background: rgb(219, 218, 224) !important;"
>


    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        
        <div class="row">
           <!-- <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">QUIENE SOMOS</h5>
                <ul class="list-unstyled">
                    <div>
                      <ul>
                            <li>
                                Leidy Marcela Tamayo Yepes. Estudiante de ingenieria de sistemas
                            </li>
                            <li>
                                Edwin Camilo Baquero Pabon. Estudiante de ingenieria de sistemas
                            </li>
                            <li>
                                Alvaro Salazar Victoria. Ingeniero electrónico
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>-->


            <hr class="clearfix w-100 d-md-none">


            <!-- Grid column -->
            <div class="col-md-3 mx-auto">


                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Síguenos en redes</h5>


                <ul
                    class="list-unstyled"
                    id="cont_redes"
                >
                    <table
                        class="img_tabla"
                        id="img_redes"
                    >
                        <thead>
                            <th>
                                <a href>
                                    <img
                                        src="assets/img/instagram.png"
                                        class="img_footer"
                                        alt
                                    >
                                </a>
                            </th>
                            <th>
                                <a href>
                                    <img
                                        src="assets/img/twitter.png"
                                        class="img_footer"
                                        alt
                                    >
                                </a>
                            </th>
                            <th>
                                <a href="https://www.facebook.com/smaq.smaq.79" target="blank">
                                    <img
                                        src="assets/img/facebook.png"
                                        class="img_footer"
                                        alt
                                    >
                                </a>
                            </th>
                        </thead>
                    </table>
                </ul>


            </div>
            <!-- Grid column -->


            <hr class="clearfix w-100 d-md-none">


            <!-- Grid column -->
            <div class="col-md-3 mx-auto">


                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contáctanos</h5>


                <ul class="list-unstyled">
                    <p>
                        <img
                            src="assets/img/ubicacion.png"
                            alt
                        >
                        Tuluá Valle del cauca
                    </p>
                    <p>
                        <img
                            src="assets/img/email.png"
                            alt
                        >
                        proyectosmaq@gmail.com
                    </p>
                </ul>


            </div>
            <!-- Grid column -->


            <hr class="clearfix w-100 d-md-none">



        </div>
        <!-- Grid row -->


    </div>
    <!-- Footer Links -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->


</footer>
<!-- Footer -->
