<button class="btn btn-secondary float-right" style="margin-top: -42px !important;" (click)="salir()"
    (keydown.enter)="salir()">Cerrar Sesión</button>
<div style="text-align: center; height: 100%; margin-bottom: 20px;">
    <h3>Administración de Estaciones</h3>
</div>
<div style="max-width: 30rem; margin: auto;">
    <div class="card-header" style=" text-align: center;">{{titulo}}</div>
    <form>
        <div class="form-group">
            <label for="ubicacion">Ubicación</label>
            <input type="text" class="form-control" [(ngModel)]="estacion.ubicacion" name="ubicacion" id="ubicacion"
                placeholder="Ingrese la ubicación de la estación">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="estacion.descripcion" name="descripcion"
                id="descripcion" placeholder="Descripción">
        </div>
        <div class="form-group">
            <label for="fechaInstalacion">Fecha Instalación</label>
            <input type="text" class="form-control" [(ngModel)]="estacion.fechaInstalacion" name="fechaInstalacion"
                id="fechaInstalacion" placeholder="Ingrese la fecha de instalacion de la estación">
        </div>
        <div div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control form-control-lg" [(ngModel)]="estacion.estado" name="estado" id="estado">
                <option value=true>Activo</option>
                <option value=false>Inactivo</option>
            </select>
        </div>
        <button type="submit" style="width: 100%; margin-bottom: 15px;" class="btn btn-success" (click)="crear()"
            *ngIf="!estacion.id else elseblock">Crear</button>
        <ng-template #elseblock>
            <button type="submit" style="width: 100%; margin-bottom: 15px;" class="btn btn-success"
                (click)="update()">Editar</button>
        </ng-template>
    </form>
</div>