div {
    height: 600px;
    width: 100%;
}

.container{
  background: gray !important; 
}
.espacio {
    width: 100%;
    height: 40px;
}
  
.mapa {
    z-index: 0;
    width:100% !important;
    margin: -39px 250px 0px 0px;
}

#contenedor_iconos_imagenes{
  background: rgba(3, 3, 3,0.5);
  z-index: 1;
  width: 180px;
  height: 240px;
  margin-top: -245px;
  float: left;
  position: relative;
  aling-content:center;

}
.info_imagen{
  background: white;
  width: 170px;
  height: 210px;
  z-index: 1;
  position: relative;
  margin: auto;
  margin-top:10px;
  aling-content:center;
 }
 #info_imagen_cabecera{
  background: green;
  width: 170px;
  height: 25px
 }
 #next{
  margin: -40px 0px 0px 150px;
  cursor:pointer;
 }
 #back{
  margin: 0px 0px 0px 4px;
  cursor:pointer;
 }
 #back:hover{
   background: rgba(3, 3, 3,0.5);
 }
 #next:hover{
  background: rgba(3, 3, 3,0.5);
}
 #titulo_cabecera{
  
 }
#img_Contaminantes {
  width: 160px;
  height: 200px;z-index: 1;
  position: relative;
  cursor: pointer;
}

.img_Estado_Estacion {
    width: 180px;
    height: 200px;
    float: left;
    z-index: 1;
    position: relative;
    margin: -185px 0px 0px 0px;
}



#tabla {
    width: 200px;
    height: 220px;
}

#estado {
    float: left;
    height: 200px;
    width: 200px;
}
#modal-bodys{
  text-align: center;
}
#img_tabla_grande {
  display:inline-block;
  width: 580px;
  height: 560px;
}



#contenedor_informacion{
  background: rgba(3, 3, 3,0.5);
  z-index: 1;
  width: 400px;
  height: 594px;
  margin: -594px 0px 0px 0px;
  float: right;
  position: relative;
  aling-content:center;
}

#boton_flecha{
  margin:10px 0px 0px -25px;
  width: 20px;
  height: 4%;
  border-radius:5px;
  cursor: pointer;
}
#boton_flecha:hover{
  background: rgba(3, 3, 3,0.5);
}
#informacion{
  background: white;
  width: 380px;
  height: 90%;
  z-index: 1;
  margin: auto;
  border-radius: 5px;
  aling-content:center;
}
.col{
  cursor: pointer;
  width: 160px;
  color: black;
  border-radius: 3%;
}
/*
.col:hover{
  opacity: 0.3;
  background: red;
  color: white;
 } */
 #informacion_general{
   width: 350px;
   height: 80%;
   margin: auto;
   z-index: 1;overflow-y: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
 }

 #informacion_detallada{
  width: 0px;
  height: 0%;
  margin: auto;
  z-index: 1;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
 }

 .colorContaminate {
   width: 60px;
   height: 30px;
   border-radius:15px;
   border: 4px solid #c1c1c1;
 }
 /*
.lecturaIzq { 
float: left;
}*/
.colorContaminate {
  float: left;
  margin: 0px 0px 0px 12px;
}
/*
#imagenEstacion{
  width: 250px;
  height: 250px;
}*/

 @media only screen and (max-width: 415px) {

  #contenedor_informacion{
    background: rgba(3, 3, 3,0.5);
    z-index: 1;
    width: 330px;
    height: 595px;
    margin: -600px 0px 0px 0px;
    float: right;
    position: relative;
    aling-content:center;
  }
  
  #boton_flecha{
    margin:5px 0px 0px -25px;
    width: 20px;
    height: 4%;
    border-radius:5px;
    cursor: pointer;
  }
  #boton_flecha:hover {
    background: rgba(3, 3, 3,0.5);
  }
  #informacion{
    background: white;
    width: 310px;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    aling-content:center;
  }
  .col{
    cursor: pointer;
    width: 160px;
    color: black;
    border-radius: 3%;
  }
  
  /*
  .col:hover{
    opacity: 0.3;
    background: black;
    color: rgb(226, 218, 218);
   }*/
   #informacion_general{
     width: 310px;
     height: 100%;
     margin: auto;
     z-index: 1;overflow-y: hidden;
     overflow-x: hidden;
   }
  
   #informacion_detallada{
    width: 0px;
    height: 0%;
    margin: auto;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 10px;
   }
   #contentModal{
     width:310px;
     height:570px;

   }
  
  
}
.titulo-tabla {
  background-color: #36B24B !important; 
  color: white;
}
.tamano-celda {
 width: 100%;
}
#tablaDetallada{
  width: 100%;
}